body {
    margin: 0;
    padding: 0;
    background-color: black;
}
.header {
    height: 100vh;
    background-size: cover;
    font-family: sans-serif;
}
.header-logo img {
    width: 400px;
    margin-top: 250px;
}
.search-field {
    margin-top: 30px;
    width: 500px;
    height: 17px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
}
.simoney {
    margin-top: 65px;
    margin-right: 75px;
    
}
.smart {
    margin-right: 75px;
}
.add {
    margin-right: 75px;
}
.mic {
    margin-bottom: 300px;
}